/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    color: white;
    position:absolute;
    padding: 10px;
    margin-top: 5px;
}

#message pre {
    padding: 10px 5px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    font-weight: lighter;
    text-shadow: 2px 2px 3px #33ff33;
    color: white;
}

.valid:before {
    font-weight: lighter;
    position: relative;
    left: -40px;
    content: "✔";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    font-weight: lighter;
    text-shadow: 2px 2px 3px #ff3333;
    color: white;
}

.invalid:before {
    font-weight: lighter;
    position: relative;
    left: -35px;
    content: "✘";
}
